##  데이타 분석

데이타 -> 필터링 -> 정제 -> 시각화 -> 분석


## 데이타 필터링

분석에 필요한 데이타를 거르는 작업 ( 데이타 추출 )

1. 열단위 추출 : df['컬럼명']

2. 행단위 추출 : df.loc[인덱스명칭] / df.iloc[인덱스위치]

    - loc[] : 명칭 기반 인덱싱
    - iloc[] : 위치 기반 인덱싱
    
    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능
    

        - loc과 iloc 차이
            - df.loc[-1]  # 에러
            - df.iloc[-1] # 마지막번호

In [6]:
# 데이타 추출

import pandas as pd

df = pd.read_excel('http://qrc.depaul.edu/excel_files/presidents.xlsx')
df

# 1. 열단위 추출
#  대통령 이름 / 취임나이 / 출신주

df[['President','Age at inauguration','State elected from']]

                 President  Age at inauguration State elected from
0        George Washington                   57           Virginia
1               John Adams                   61      Massachusetts
2         Thomas Jefferson                   57           Virginia
3            James Madison                   57           Virginia
4             James Monroe                   58           Virginia
5        John Quincy Adams                   57      Massachusetts
6           Andrew Jackson                   61          Tennessee
7        Martin Van Buren                    54           New York
8   William Henry Harrison                   68               Ohio
9            James K. Polk                   49          Tennessee
10          Zachary Taylor                   64          Louisiana
11         Franklin Pierce                   48      New Hampshire
12          James Buchanan                   65       Pennsylvania
13         Abraham Lincoln                   52           Illinois
14        Ulysses S. Grant                   46           Illinois
15     Rutherford B. Hayes                   54               Ohio
16       James A. Garfield                   49               Ohio
17        Grover Cleveland                   47           New York
18       Benjamin Harrison                   55            Indiana
19        Grover Cleveland                   55           New York
20        William McKinley                   54               Ohio
21     William Howard Taft                   51               Ohio
22          Woodrow Wilson                   56         New Jersey
23       Warren G. Harding                   55               Ohio
24          Herbert Hoover                   54         California
25      Franklin Roosevelt                   51           New York
26    Dwight D. Eisenhower                   62           New York
27         John F. Kennedy                   43      Massachusetts
28        Richard M. Nixon                   56           New York
29            Jimmy Carter                   52            Georgia
30           Ronald Reagan                   69         California
31             George Bush                   64              Texas
32            Bill Clinton                   46           Arkansas
33          George W. Bush                   54              Texas
34            Barack Obama                   47           Illinois

In [64]:
# 2. 행단위 추출
# 조지워싱턴 / 링컨 / 오바마 대통령
""" 
    loc[] : 명칭 기반 인덱싱
    iloc[] : 위치 기반 인덱싱
    
    현재 인덱스가 글자로 지정되지 않았기에 loc[]/iloc[] 모두 가능
"""
# (1) loc

df.loc[[0,13,34]]

df.loc[(df['President'] == 'George Washington')| (df['President'] == 'Abraham Lincoln') | (df['President'] == 'Barack Obama')]

df2 = df.set_index('President')
df2.

In [46]:
# (2) iloc
df.iloc[[0,13,34]]

,President,Years in office,Year first inaugurated,Age at inauguration,State elected from,# of electoral votes,# of popular votes,National total votes,Total electoral votes,Rating points,Political Party,Occupation,College,% electoral,% popular
0,George Washington,8.0,1789,57,Virginia,69,NA(),NA(),69,842.0,None,Planter,None,100.000000,NA()
13,Abraham Lincoln,4.0,1861,52,Illinois,180,1865908,4685561,303,900.0,Republican,Lawyer,None,59.405941,39.8225
34,Barack Obama,NaN,2009,47,Illinois,365,69492376,129438754,538,NaN,Democrat,Lawyer,Columbia University,67.843866,53.6875

마지막행의 데이타 추출

In [47]:
df.iloc[-1]

President                        Barack Obama
Years in office                           NaN
Year first inaugurated                   2009
Age at inauguration                        47
State elected from                   Illinois
# of electoral votes                      365
# of popular votes                   69492376
National total votes                129438754
Total electoral votes                     538
Rating points                             NaN
Political Party                      Democrat
Occupation                             Lawyer
College                   Columbia University
% electoral                           67.8439
% popular                             53.6875
Name: 34, dtype: object

In [68]:
# total_of rows

df.shape #(35, 15)

total_of_rows= df.shape[0] #35

df.loc[total_of_rows-1]

President                        Barack Obama
Years in office                           NaN
Year first inaugurated                   2009
Age at inauguration                        47
State elected from                   Illinois
# of electoral votes                      365
# of popular votes                   69492376
National total votes                129438754
Total electoral votes                     538
Rating points                             NaN
Political Party                      Democrat
Occupation                             Lawyer
College                   Columbia University
% electoral                           67.8439
% popular                             53.6875
Name: 34, dtype: object

행열 모두 지정하여 추출 

- 초대 대통령 10명의 이름과 대학을 추출

In [59]:

# (1) 초대 대통령 10명의 이름과 대학을 추출
#     하지만 컬럼명을 기술하는 것을 권장

df.iloc[0:10][['President','College']]

                President               College
0       George Washington                  None
1              John Adams               Harvard
2        Thomas Jefferson      William and Mary
3           James Madison             Princeton
4            James Monroe      William and Mary
5       John Quincy Adams               Harvard
6          Andrew Jackson                  None
7       Martin Van Buren                   None
8  William Henry Harrison        Hampden-Sydney
9           James K. Polk  U. of North Carolina

#### [ 결과 ]

                President           College
                
    0      George Washington              None

    1              John Adams           Harvard

    2        Thomas Jefferson  William and Mary

    3           James Madison         Princeton

    4            James Monroe  William and Mary

    5       John Quincy Adams           Harvard

    6          Andrew Jackson              None

    7       Martin Van Buren               None

    8  William Henry Harrison    Hampden-Sydney

### [추후] 미국대통령 데이타셋을 분석하고 정보를 도출하여 출력(시각화 권장)